@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
#newsletter .title-advantages {
  text-align: center;
  font-size: 11px;
  color: #8c8278;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}

table {
  table-collapse: unset;
}

#newsletter .title-advantages-item {
  margin-left: 4px;
}

#newsletter .newsletterRecommendationHeader {
  text-align: center;
  font-size: 11px;
  color: #8c8278;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* NEWSLETTER START */

#newsletter .newsletterFreebieContainer {
  padding-left: 10px;
}

#newsletter .newsletterBottom80px {
  padding-bottom: 80px;
}

#newsletter .newsletterContainer {
  padding-left: 20px;
  padding-right: 20px;
}

#newsletter.newsletterContainer {
  padding-left: 20px;
  padding-right: 20px;
}

#newsletter .newsletterCta {
  font-size: 20px;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
}

#newsletter .newsletterBottom20px {
  padding-bottom: 20px;
}

#newsletter .newsletterBottom35px {
  padding-bottom: 35px;
}

#newsletter .newsletterParagraph {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

#newsletter .newsletterTitle {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

#newsletter .newsletterProductTitle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

#newsletter .newsletterProductLowPrice {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  font-weight: 600;
}

#newsletter .newsletterProductHightPrice {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  text-decoration: line-through;
}

#newsletter .newsletterRight10px {
  padding-right: 10px;
}

#newsletter .newsletterLeft10px {
  padding-left: 10px;
}

/* NEWSLETTER END */

#newsletter .newsletterFooter {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

#newsletter .newsletterConditions {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
}

#newsletter .newsletterFooterCompanyDetails {
  vertical-align: middle;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif !important;
  color: #000000;
  background: #ececec;
  width: 100%;
}

#newsletter .newsletterFooterTitle {
  text-align: left;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

#newsletter .newsletterProductTitleFreebie {
  text-align: center;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

#newsletter .newsletterFooterCategoryLEFT {
  padding-bottom: 20px !important;
  padding-right: 10px !important;
}

#newsletter .newsletterFooterCategoryRIGHT {
  padding-bottom: 20px !important;
  padding-left: 10px !important;
}

#newsletter .newsletterFooterCategoryLEFTBottom {
  padding-right: 10px !important;
}

#newsletter .newsletterFooterCategoryRIGHTBottom {
  padding-left: 10px !important;
}

#newsletter .newsletterSocialIcon {
  padding-left: 25px !important;
}

#newsletter .newsletterTopBottomContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

#newsletter .newsletterKlarnaBannerContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

#newsletter .newsletterSoonEndingTitle {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #newsletter .newsletterFooterCategoryLEFTBottom {
    padding-right: 5px !important;
  }

  #newsletter .newsletterFooterCategoryRIGHTBottom {
    padding-left: 5px !important;
  }

  #newsletter .newsletterFooterCategoryLEFT {
    padding-bottom: 10px !important;
    padding-right: 5px !important;
  }

  #newsletter .newsletterFooterCategoryRIGHT {
    padding-bottom: 10px !important;
    padding-left: 5px !important;
  }

  #newsletter .newsletterSocialIcon {
    padding-left: 13px !important;
  }

  #newsletter .newsletterTopBottomContainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #newsletter .newsletterFooterTitle {
    font-size: 18px;
  }

  #newsletter .newsletterProductTitleFreebie {
    font-size: 18px;
  }

  #newsletter .newsletterProductTitle {
    font-size: 18px;
  }

  #newsletter .newsletterProductLowPrice {
    font-size: 16px;
  }

  #newsletter .newsletterProductHightPrice {
    display: block;
  }

  #newsletter .newsletterProductTitleContainer {
    padding-top: 10px;
  }

  #newsletter .newsletterTitle {
    font-size: 25px;
  }

  #newsletter .newsletterContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #newsletter.newsletterContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  #newsletter .newsletterFreebieContainer {
    padding-left: 10px;
    padding-right: 0px !important;
  }

  #newsletter .newsletterBottom35px {
    padding-bottom: 20px;
  }

  #newsletter .newsletterParagraph {
    font-size: 16px;
  }

  #newsletter .newsletterLeft10px {
    padding-left: 5px;
  }

  #newsletter .newsletterRight10px {
    padding-right: 5px;
  }

  #newsletter .newsletterBottom20px {
    padding-bottom: 10px;
  }

  #newsletter .newsletterBottom80px {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 570px) {
  #newsletter .newsletterProductTitleFreebie {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  #newsletter .newsletterProductTitleFreebie {
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  #newsletter .newsletterProductTitleFreebie {
    font-size: 12px;
  }
}
