* {
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  height: 90vh;
  overflow-y: scroll;
}

.panelPosition {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 1.8rem;
  padding-left: 6px;
}

:focus {
  outline: none;
}

.blur {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 1rem 1.8rem;
  backdrop-filter: blur(8px);
}

body {
  font-family: sans-serif;
  overflow: hidden;
}

select,
button {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;

  border: none;
  cursor: pointer;
  font-family: sans-serif;
  background-color: #f5f5f5b9;

  transition: all 0.2s ease-in-out;
}

ul {
  bottom: 1%;
  margin: 0;
  list-style: none;
  padding: 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 14px;
}

li {
  cursor: pointer;
  background-color: #f5f5f5b9;
  border-radius: 3px;
  padding: 6px 12px;
  margin-bottom: 4px;
  text-align: center;
}

li:hover {
  outline: 2px solid #eee;
}

.error {
  margin: 1rem;
  padding: 0.7rem 1.6rem;
  border-radius: 5px;
  background-color: #eee;
}

.loading {
  margin: 1rem;
  padding: 0.7rem 1.6rem;
  border-radius: 5px;
  background-color: #eee;
  animation: flashing 2s infinite;
}

.renderTemplate {
  text-transform: capitalize;
}

@keyframes flashing {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 80%;
  }
  100% {
    opacity: 10%;
  }
}

@media (max-width: 960px) {
  .panel {
    flex-direction: column;
    gap: 8px;
  }

  #first {
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    gap: 6px;
    width: 200px;
  }

  li {
    display: inline-block;
  }

  .blur {
    flex-direction: row;
  }
}
