.title-advantages {
  text-align: center;
  font-size: 11px;
  color: #8c8278;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
}

.title-advantages-item {
  margin-left: 4px;
}

.newsletterRecommendationHeader {
  text-align: center;
  font-size: 11px;
  color: #8c8278;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* NEWSLETTER START */

.newsletterFreebieContainer {
  padding-left: 10px;
}

.newsletterBottom80px {
  padding-bottom: 80px;
}

.newsletterContainer {
  padding-left: 20px;
  padding-right: 20px;
}

.newsletterCta {
  font-size: 20px;
  line-height: 1.25;
  font-family: "Open Sans", sans-serif;
}

.newsletterBottom20px {
  padding-bottom: 20px;
}

.newsletterBottom35px {
  padding-bottom: 35px;
}

.newsletterParagraph {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.newsletterTitle {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.newsletterProductTitle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

.newsletterProductLowPrice {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  font-weight: 600;
}

.newsletterProductHightPrice {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  text-decoration: line-through;
}

.newsletterRight10px {
  padding-right: 10px;
}

.newsletterLeft10px {
  padding-left: 10px;
}

/* NEWSLETTER END */

.newsletterFooter {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.newsletterConditions {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
}

.newsletterFooterCompanyDetails {
  vertical-align: middle;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  font-size: 11px;
  font-family: "Open Sans", sans-serif !important;
  color: #000000;
  background: #ececec;
  width: 100%;
}

.newsletterFooterTitle {
  text-align: left;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.newsletterProductTitleFreebie {
  text-align: center;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.newsletterFooterCategoryLEFT {
  padding-bottom: 20px !important;
  padding-right: 10px !important;
}

.newsletterFooterCategoryRIGHT {
  padding-bottom: 20px !important;
  padding-left: 10px !important;
}

.newsletterFooterCategoryLEFTBottom {
  padding-right: 10px !important;
}

.newsletterFooterCategoryRIGHTBottom {
  padding-left: 10px !important;
}

.newsletterSocialIcon {
  padding-left: 25px !important;
}

.newsletterTopBottomContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.newsletterKlarnaBannerContainer {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.newsletterSoonEndingTitle {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .newsletterFooterCategoryLEFTBottom {
    padding-right: 5px !important;
  }

  .newsletterFooterCategoryRIGHTBottom {
    padding-left: 5px !important;
  }

  .newsletterFooterCategoryLEFT {
    padding-bottom: 10px !important;
    padding-right: 5px !important;
  }

  .newsletterFooterCategoryRIGHT {
    padding-bottom: 10px !important;
    padding-left: 5px !important;
  }

  .newsletterSocialIcon {
    padding-left: 13px !important;
  }

  .newsletterTopBottomContainer {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .newsletterFooterTitle {
    font-size: 18px;
  }

  .newsletterProductTitleFreebie {
    font-size: 18px;
  }

  .newsletterProductTitle {
    font-size: 18px;
  }

  .newsletterProductLowPrice {
    font-size: 16px;
  }

  .newsletterProductHightPrice {
    display: block;
  }

  .newsletterProductTitleContainer {
    padding-top: 10px;
  }

  .newsletterTitle {
    font-size: 25px;
  }

  .newsletterContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .newsletterFreebieContainer {
    padding-left: 10px;
    padding-right: 0px !important;
  }

  .newsletterBottom35px {
    padding-bottom: 20px;
  }

  .newsletterParagraph {
    font-size: 16px;
  }

  .newsletterLeft10px {
    padding-left: 5px;
  }

  .newsletterRight10px {
    padding-right: 5px;
  }

  .newsletterBottom20px {
    padding-bottom: 10px;
  }

  .newsletterBottom80px {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 570px) {
  .newsletterProductTitleFreebie {
    font-size: 16px;
  }
}

@media screen and (max-width: 460px) {
  .newsletterProductTitleFreebie {
    font-size: 14px;
  }
}

@media screen and (max-width: 370px) {
  .newsletterProductTitleFreebie {
    font-size: 12px;
  }
}
